<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.5.1-0-g916b5db  Build Version: 1.5.7152.31018
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="exomy_model">
  <link name="base_link">
    <inertial>
      <origin
        xyz="0.00941240764132836 -0.000206669381287546 0.0959517138447419"
        rpy="0 0 0" />
      <mass
        value="0.524696065665695" />
      <inertia
        ixx="0.00202961550000175"
        ixy="4.38141075820916E-06"
        ixz="-7.18573905876701E-06"
        iyy="0.00173097752883155"
        iyz="5.63612615887851E-06"
        izz="0.00268640350858325" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.498039215686275 0.498039215686275 0.498039215686275 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/base_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <link name="MRB_link">
     <inertial>
      <origin
        xyz="-3.68595537279847E-08 0.00338160467987395 0.0673635214789146"
        rpy="0 0 0" />
      <mass
        value="0.151224745820167" />
      <inertia
        ixx="0.000128935917376149"
        ixy="-2.89527639104443E-11"
        ixz="-1.53164043997219E-10"
        iyy="0.000455535251056041"
        iyz="-1.22609371592427E-06"
        izz="0.000336706939919685" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/rear_boggie_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/MRB_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="MRB_joint"
    type="revolute">
    <origin
      xyz="-0.082 0 0.017"
      rpy="1.5707963267949 0 -1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="MRB_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.47"
      upper="0.47"
      effort="0"
      velocity="0" />
  </joint>
  <link name="STR_LR_link">
    <inertial>
      <origin
        xyz="-0.000263492743586946 0.0134387990376984 -0.034711306793365"
        rpy="0 0 0" />
      <mass
        value="0.0753331460915504" />
      <inertia
        ixx="4.40967952759376E-05"
        ixy="1.5525251350396E-08"
        ixz="2.07648905392567E-07"
        iyy="3.47826641032589E-05"
        iyz="4.50088971772309E-06"
        izz="1.82713052446031E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/rl_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 -1.5708" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/STR_LR_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="STR_LR_joint"
    type="revolute">
    <origin
      xyz="0 -0.0326472591798303 -0.0230841999999993"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="rl_walk_link" />
    <child
      link="STR_LR_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="DRV_LR_link">
    <inertial>
      <origin
        xyz="0.000137523214603918 0.000155054337969827 -0.00757759398122704"
        rpy="0 0 0" />
      <mass
        value="0.0578937358655143" />
      <inertia
        ixx="5.22831678813284E-05"
        ixy="-5.39700079318973E-08"
        ixz="-1.35368073234183E-08"
        iyy="5.22701989346052E-05"
        iyz="-1.52375708140585E-08"
        izz="8.06498055218562E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/rl_drive_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.87843137254902 0.274509803921569 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.045"/>
        <!-- <mesh filename="package://urdf_tutorial/meshes/DRV_LR_link.STL" /> -->
      </geometry>
    </collision>
  </link>
  <joint name="DRV_LR_joint"
    type="continuous">
    <!-- <dynamics damping="0.5" friction="0.1"/> -->
    <origin
      xyz="0 -0.0015861999999994 -0.0576607002886803"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="STR_LR_link" />
    <child
      link="DRV_LR_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="STR_RR_link">
    <inertial>
      <origin
        xyz="0.000263492743591498 -0.0134387990377011 -0.0347113067933644"
        rpy="0 0 0" />
      <mass
        value="0.0753331460915503" />
      <inertia
        ixx="4.40967952759374E-05"
        ixy="1.55252513504421E-08"
        ixz="-2.07648905392504E-07"
        iyy="3.47826641032588E-05"
        iyz="-4.50088971772306E-06"
        izz="1.82713052446031E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/rr_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 1.5708" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/STR_RR_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="STR_RR_joint"
    type="revolute">
    <origin
      xyz="0 0.0326472591798304 -0.0230841999999994"
      rpy="1.5707963267949 0 0" />
    <parent
      link="rr_walk_link" />
    <child
      link="STR_RR_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="DRV_RR_link">
    <inertial>
      <origin
        xyz="-6.17192953744627E-07 0.000207253712514649 -0.0075775939812171"
        rpy="0 0 0" />
      <mass
        value="0.0578937358655146" />
      <inertia
        ixx="5.23310406476559E-05"
        ixy="3.17244961888801E-10"
        ixz="4.41905862571002E-11"
        iyy="5.22223261682785E-05"
        iyz="-2.03820206068037E-08"
        izz="8.06498055218567E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/rr_drive_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.87843137254902 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.045"/>
        <!-- <mesh filename="package://urdf_tutorial/meshes/DRV_RR_link.STL" /> -->
      </geometry>
    </collision>
  </link>
  <joint name="DRV_RR_joint"
    type="continuous">
    <!-- <dynamics damping="0.5" friction="0.1"/> -->
    <origin
      xyz="0 0.00158620000001947 -0.0576607002886803"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="STR_RR_link" />
    <child
      link="DRV_RR_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="RFB_link">
    <inertial>
      <origin
        xyz="-1.29310084862055E-09 0.00397742503469292 0.0237885048729503"
        rpy="0 0 0" />
      <mass
        value="0.120262550740254" />
      <inertia
        ixx="1.85033615715491E-05"
        ixy="-6.2391663403253E-12"
        ixz="-1.9052839545095E-12"
        iyy="0.000203170947931078"
        iyz="-1.18624087497964E-07"
        izz="0.000192958895107145" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/fr_boggie_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/RFB_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="RFB_joint"
    type="revolute">
    <origin
      xyz="0.0550000000000001 -0.062 0.017"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="RFB_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.47"
      upper="0.47"
      effort="0"
      velocity="0" />f
  </joint>
  <link name="STR_RF_link">
    <inertial>
      <origin
        xyz="0.000263492743589347 -0.0134387990377006 -0.0347113067933646"
        rpy="0 0 0" />
      <mass
        value="0.0753331460915505" />
      <inertia
        ixx="4.40967952759376E-05"
        ixy="1.55252513504034E-08"
        ixz="-2.0764890539258E-07"
        iyy="3.47826641032589E-05"
        iyz="-4.50088971772306E-06"
        izz="1.8271305244603E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/fr_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/STR_RF_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="STR_RF_joint"
    type="revolute">
    <origin
      xyz="0 0.0326472591798303 -0.0230842"
      rpy="1.5707963267949 0 0" />
    <parent
      link="fr_walk_link" />
    <child
      link="STR_RF_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="DRV_RF_link">
    <inertial>
      <origin
        xyz="-1.44183227789342E-05 0.000206752495139698 -0.00757759398122695"
        rpy="0 0 0" />
      <mass
        value="0.0578937358655144" />
      <inertia
        ixx="5.23305163183958E-05"
        ixy="7.53842859702736E-09"
        ixz="1.4014763188032E-09"
        iyy="5.22228504975383E-05"
        iyz="-2.03338284872479E-08"
        izz="8.06498055218566E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/fr_drive_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.87843137254902 0.274509803921569 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.045"/>
        <!-- <mesh filename="package://urdf_tutorial/meshes/DRV_RF_link.STL" /> -->
      </geometry>
    </collision>
  </link>
  <joint name="DRV_RF_joint"
    type="continuous">
    <!-- <dynamics damping="0.5" friction="0.1"/> -->
    <origin
      xyz="0 0.00158620000000023 -0.0576607002886802"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="STR_RF_link" />
    <child
      link="DRV_RF_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="STR_RM_link">
    <inertial>
      <origin
        xyz="0.00026349274359036 -0.0134387990376991 -0.034711306793364"
        rpy="0 0 0" />
      <mass
        value="0.0753331460915504" />
      <inertia
        ixx="4.40967952759376E-05"
        ixy="1.55252513504444E-08"
        ixz="-2.07648905392507E-07"
        iyy="3.47826641032589E-05"
        iyz="-4.50088971772307E-06"
        izz="1.8271305244603E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/mr_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/STR_RM_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="STR_RM_joint"
    type="revolute">
    <origin
      xyz="0 0.0326472591798309 -0.0230842000000015"
      rpy="1.5707963267949 0 0" />
    <parent
      link="mr_walk_link" />
    <child
      link="STR_RM_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="DRV_RM_link">
    <inertial>
      <origin
        xyz="0.000161203194309234 -0.000130261323587476 -0.00757759398122695"
        rpy="0 0 0" />
      <mass
        value="0.0578937358655146" />
      <inertia
        ixx="5.22652770638457E-05"
        ixy="5.31479582367096E-08"
        ixz="-1.58428467253403E-08"
        iyy="5.22880897520881E-05"
        iyz="1.28231401948991E-08"
        izz="8.06498055218562E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/mr_drive_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.87843137254902 0.274509803921569 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.045"/>
        <!-- <mesh filename="package://urdf_tutorial/meshes/DRV_RM_link.STL" /> -->
      </geometry>
    </collision>
  </link>
  <joint name="DRV_RM_joint"
    type="continuous">
    <!-- <dynamics damping="0.5" friction="0.1"/> -->
    <origin
      xyz="0 0.00158620000000148 -0.0576607002886797"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="STR_RM_link" />
    <child
      link="DRV_RM_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="LFB_link">
    <inertial>
      <origin
        xyz="1.29309710161785E-09 0.00397742503469584 -0.0237885048729503"
        rpy="0 0 0" />
      <mass
        value="0.120262550740254" />
      <inertia
        ixx="1.85033615715491E-05"
        ixy="6.23916630528392E-12"
        ixz="-1.90528399522002E-12"
        iyy="0.000203170947931077"
        iyz="1.18624087497972E-07"
        izz="0.000192958895107144" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/fl_boggie_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/LFB_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="LFB_joint"
    type="revolute">
    <origin
      xyz="0.055 0.062 0.017"
      rpy="1.5707963267949 0 0" />
    <parent
      link="base_link" />
    <child
      link="LFB_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-0.47"
      upper="0.47"
      effort="1000.0"
      velocity="0" />
  </joint>
  <link name="STR_LF_link">
    <inertial>
      <origin
        xyz="-0.000263492743587782 0.0134387990377016 -0.0347113067933664"
        rpy="0 0 0" />
      <mass
        value="0.0753331460915503" />
      <inertia
        ixx="4.40967952759374E-05"
        ixy="1.55252513503952E-08"
        ixz="2.07648905392559E-07"
        iyy="3.47826641032588E-05"
        iyz="4.50088971772305E-06"
        izz="1.8271305244603E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/fl_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/STR_LF_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="STR_LF_joint"
    type="revolute">
    <origin
      xyz="0 -0.0326472591798284 -0.023084199999999"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="fl_walk_link" />
    <child
      link="STR_LF_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="DRV_LF_link">
    <inertial>
      <origin
        xyz="-2.65978244397454E-05 0.000205540842689041 -0.00757759398122695"
        rpy="0 0 0" />
      <mass
        value="0.0578937358655145" />
      <inertia
        ixx="5.23292527115341E-05"
        ixy="1.38303461083793E-08"
        ixz="2.59934270093856E-09"
        iyy="5.22241141044008E-05"
        iyz="-2.021564083438E-08"
        izz="8.06498055218572E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/fl_drive_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.87843137254902 0.274509803921569 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.045"/>
        <!-- <mesh filename="package://urdf_tutorial/meshes/DRV_LF_link.STL" /> -->
      </geometry>
    </collision>
  </link>
  <joint name="DRV_LF_joint"
    type="continuous">
    <!-- <dynamics damping="0.5" friction="0.1"/> -->
    <origin
      xyz="0 -0.00158619999999915 -0.0576607002886822"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="STR_LF_link" />
    <child
      link="DRV_LF_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="STR_LM_link">
    <inertial>
      <origin
        xyz="-0.000263492743586946 0.0134387990376984 -0.034711306793365"
        rpy="0 0 0" />
      <mass
        value="0.0753331460915502" />
      <inertia
        ixx="4.40967952759374E-05"
        ixy="1.55252513504015E-08"
        ixz="2.07648905392571E-07"
        iyy="3.47826641032588E-05"
        iyz="4.50088971772304E-06"
        izz="1.8271305244603E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/ml_steer_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <!-- <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/STR_LM_link.STL" />
      </geometry>
    </collision> -->
  </link>
  <joint name="STR_LM_joint"
    type="revolute">
    <origin
      xyz="0 -0.0326472591798298 -0.0230842000000025"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="ml_walk_link" />
    <child
      link="STR_LM_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="DRV_LM_link">
    <inertial>
      <origin
        xyz="-0.000192393651796935 7.70659783983427E-05 -0.00757759398122695"
        rpy="0 0 0" />
      <mass
        value="0.0578937358655144" />
      <inertia
        ixx="5.2237361557884E-05"
        ixy="3.75313503218163E-08"
        ixz="1.89144494146278E-08"
        iyy="5.23160052580504E-05"
        iyz="-7.5942293990033E-09"
        izz="8.06498055218567E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh filename="package://urdf_tutorial/meshes/ml_drive_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.968627450980392 0.87843137254902 0.6 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <cylinder length="0.05" radius="0.045"/>
        <!-- <mesh filename="package://urdf_tutorial/meshes/DRV_LM_link.STL" /> -->
      </geometry>
    </collision>
  </link>
  <joint name="DRV_LM_joint"
    type="continuous">
    <!-- <dynamics damping="0.5" friction="0.1"/> -->
    <origin
      xyz="0 -0.00158620000000223 -0.057660700288681"
      rpy="-1.5707963267949 0 0" />
    <parent
      link="STR_LM_link" />
    <child
      link="DRV_LM_link" />
    <axis
      xyz="0 0 1" />
    <limit
      effort="1000.0"
      velocity="1.0" />
  </joint>
  <link name="pan_link">
    <inertial>
      <origin
        xyz="-0.00109370379343401 -0.00348217592801847 -0.0073998160539851"
        rpy="0 0 0" />
      <mass
        value="0.0258948755353993" />
      <inertia
        ixx="2.49211283442705E-06"
        ixy="8.82237975716434E-08"
        ixz="7.5407408585332E-08"
        iyy="3.78561026746525E-06"
        iyz="-1.33579856921315E-07"
        izz="5.67956296428943E-06" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/pan_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/pan_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="pan_joint"
    type="revolute">
    <origin
      xyz="0.0500000000000001 0 0.26675"
      rpy="-3.14159265358979 0 0" />
    <parent
      link="base_link" />
    <child
      link="pan_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link name="tilt_link">
    <inertial>
      <origin
        xyz="0.00236657705037903 0.0512322290887282 0.037766502696093"
        rpy="0 0 0" />
      <mass
        value="0.0945569295049598" />
      <inertia
        ixx="0.00020808884816414"
        ixy="-5.12608790233218E-06"
        ixz="-5.10606832862412E-06"
        iyy="0.000187008230729742"
        iyz="7.74161838967479E-07"
        izz="5.822154366072E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/tilt_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.945 0.945 0.926 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/tilt_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="tilt_joint"
    type="revolute">
    <origin
      xyz="0 -0.02733 -0.01145"
      rpy="-1.5708 0 0" />
    <parent
      link="pan_link" />
    <child
      link="tilt_link" />
    <axis
      xyz="0 0 1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>

  <link name="fr_walk_link">
    <inertial>
      <origin
        xyz="2.84033686152874E-06 0.00514885777999061 -0.0280355478582016"
        rpy="0 0 0" />
      <mass
        value="0.056321331991458" />
      <inertia
        ixx="2.06368027164913E-05"
        ixy="3.63432304755609E-10"
        ixz="1.2238898944863E-09"
        iyy="1.85446416610406E-05"
        iyz="9.98360896605948E-07"
        izz="1.10889128864988E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/fr_walk_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/fr_walk_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="fr_walk_joint"
    type="revolute">
    <origin
      xyz="0.080725 0.004533 0.0554"
      rpy="-3.1416 0 0" />
    <parent
      link="RFB_link" />
    <child
      link="fr_walk_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link name="mr_walk_link">
    <inertial>
      <origin
        xyz="2.84033685771234E-06 0.0051488577799946 -0.0280355478582015"
        rpy="0 0 0" />
      <mass
        value="0.056321331991458" />
      <inertia
        ixx="2.06368027164913E-05"
        ixy="3.63432304761539E-10"
        ixz="1.2238898940838E-09"
        iyy="1.85446416610406E-05"
        iyz="9.98360896606346E-07"
        izz="1.10889128864988E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/mr_walk_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/mr_walk_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="mr_walk_joint"
    type="revolute">
    <origin
      xyz="-0.0807250000000038 0.00453299999999712 0.0554000000000001"
      rpy="-3.14159265358979 0 0" />
    <parent
      link="RFB_link" />
    <child
      link="mr_walk_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>  
  <link name="fl_walk_link">
    <inertial>
      <origin
        xyz="-2.84033685775398E-06 -0.0051488577799946 -0.0280355478582016"
        rpy="0 0 0" />
      <mass
        value="0.056321331991458" />
      <inertia
        ixx="2.06368027164914E-05"
        ixy="3.63432304750144E-10"
        ixz="-1.22388989410911E-09"
        iyy="1.85446416610407E-05"
        iyz="-9.98360896606347E-07"
        izz="1.10889128864988E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/fl_walk_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/fl_walk_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="fl_walk_joint"
    type="revolute">
    <origin
      xyz="0.080725 0.00453299999999998 -0.0554"
      rpy="0 0 0" />
    <parent
      link="LFB_link" />
    <child
      link="fl_walk_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link name="ml_walk_link">
    <inertial>
      <origin
        xyz="-2.84033686151486E-06 -0.00514885777999061 -0.0280355478582016"
        rpy="0 0 0" />
      <mass
        value="0.056321331991458" />
      <inertia
        ixx="2.06368027164914E-05"
        ixy="3.63432304746363E-10"
        ixz="-1.22388989451849E-09"
        iyy="1.85446416610407E-05"
        iyz="-9.98360896605945E-07"
        izz="1.10889128864988E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/ml_walk_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/ml_walk_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="ml_walk_joint"
    type="revolute">
    <origin
      xyz="-0.0807250000000001 0.00453300000000001 -0.0553999999999999"
      rpy="0 0 0" />
    <parent
      link="LFB_link" />
    <child
      link="ml_walk_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link name="rr_walk_link">
    <inertial>
      <origin
        xyz="2.84033686026586E-06 0.00514885777999066 -0.0280355478582013"
        rpy="0 0 0" />
      <mass
        value="0.056321331991458" />
      <inertia
        ixx="2.06368027164913E-05"
        ixy="3.63432304759844E-10"
        ixz="1.22388989446681E-09"
        iyy="1.85446416610406E-05"
        iyz="9.98360896605962E-07"
        izz="1.10889128864988E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/rr_walk_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/rr_walk_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rr_walk_joint"
    type="revolute">
    <origin
      xyz="0.1174 0.00452999999999995 0.10372"
      rpy="3.14159265358979 1.5707963267949 0" />
    <parent
      link="MRB_link" />
    <child
      link="rr_walk_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link name="rl_walk_link">
    <inertial>
      <origin
        xyz="-2.84033686204221E-06 -0.00514885777999063 -0.0280355478582017"
        rpy="0 0 0" />
      <mass
        value="0.0563213319914582" />
      <inertia
        ixx="2.06368027164915E-05"
        ixy="3.63432304752011E-10"
        ixz="-1.22388989451155E-09"
        iyy="1.85446416610407E-05"
        iyz="-9.98360896605945E-07"
        izz="1.10889128864989E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/rl_walk_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.298039215686275 0.298039215686275 0.298039215686275 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://urdf_tutorial/meshes/rl_walk_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint name="rl_walk_joint"
    type="revolute">
    <origin
      xyz="-0.1174 0.00452999999999998 0.10372"
      rpy="0 1.5707963267949 0" />
    <parent
      link="MRB_link" />
    <child
      link="rl_walk_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>


  <gazebo>
    <plugin name="rover_gazebo_joint_plugin" filename="librover_gazebo_joint_plugin.so">
      <update_rate>100.0</update_rate>
      <position_pids>
        <STR>1.0 0.5 0.0</STR>
        <pupil>0.2 0.2 0.0</pupil>
      </position_pids>
      <velocity_pids>
        <!-- <DRV>0.1 0.5 0.0</DRV> -->
        <!-- <STR>0.1 0.5 0.0</STR> -->
      </velocity_pids>
    </plugin>

    <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
      <body_name>base_link</body_name>
      <frame_name>map</frame_name>
      <body_tf_name>odom</body_tf_name>
      <update_rate>20.0</update_rate>
      <xyz_offsets>0 0 0</xyz_offsets>
      <rpy_offsets>0 0 0</rpy_offsets>
      <gaussian_noise>0.0</gaussian_noise>
    </plugin>

    <plugin name="gazebo_ros_joint_state_publisher"
        filename="libgazebo_ros_joint_state_publisher.so">
      <ros>
        <remapping>joint_states:=joint_states</remapping>
      </ros>
      <update_rate>100.0</update_rate>
      <joint_name>LFB_joint</joint_name>
      <joint_name>RFB_joint</joint_name>
      <joint_name>MRB_joint</joint_name>
      <joint_name>DRV_LF_joint</joint_name>
      <joint_name>DRV_RF_joint</joint_name>
      <joint_name>DRV_LM_joint</joint_name>
      <joint_name>DRV_RM_joint</joint_name>
      <joint_name>DRV_LR_joint</joint_name>
      <joint_name>DRV_RR_joint</joint_name>
      <joint_name>STR_LF_joint</joint_name>
      <joint_name>STR_RF_joint</joint_name>
      <joint_name>STR_LM_joint</joint_name>
      <joint_name>STR_RM_joint</joint_name>
      <joint_name>STR_LR_joint</joint_name>
      <joint_name>STR_RR_joint</joint_name>
    </plugin>

  </gazebo>

  <gazebo reference="base_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>
  
  <gazebo reference="LFB_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>
  
  <gazebo reference="RFB_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>

  <gazebo reference="MRB_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>

  <gazebo reference="STR_LF_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>

  <gazebo reference="STR_RF_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>

  <gazebo reference="STR_RM_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>

  <gazebo reference="STR_LM_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>

  <gazebo reference="STR_RR_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>

  <gazebo reference="STR_LR_link">
    <mu1>0.2</mu1>
    <mu2>0.2</mu2>
    <material>Gazebo/DarkGray</material>
  </gazebo>

  <gazebo reference="DRV_LF_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Gold</material>
  </gazebo>

  <gazebo reference="DRV_RF_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Gold</material>
  </gazebo>

  <gazebo reference="DRV_RM_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Gold</material>
  </gazebo>

  <gazebo reference="DRV_LM_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Gold</material>
  </gazebo>

  <gazebo reference="DRV_RR_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Gold</material>
  </gazebo>

  <gazebo reference="DRV_LR_link">
    <mu1>0.5</mu1>
    <mu2>0.5</mu2>
    <material>Gazebo/Gold</material>
  </gazebo>

</robot>